/* #title{
    padding-top: 100px;
    padding-bottom: 100px;
} */
body{
    font-family: 'Roboto', sans-serif;
}
footer{
    margin-top: 100px;
    padding-top: 30px;
    padding-left: 10px;
    height: 150px;
    width: 100%;
    background-color: #626567;
    font-family: 'Roboto', sans-serif; 
    color: white;
    font-size: small;
}
