/* #title{
    padding-top: 100px;
    padding-bottom: 100px;
} */


/* begin styles for RSS Feed */

h2 { color: maroon; font-size: 170%; text-decoration: none ; font-weight: bold; font-family: FontName, Tahoma }

h3 { color: maroon; font-size: 140%; text-decoration: none ; font-weight: bold; text-indent: 5em; font-family: FontName, Tahoma }

.rss-box { background-color: white; margin: 10px 15%; padding: 4px 8px; border: solid 5px maroon }

.rss-title, rss-title a { font-size: 120%; font-family: FontName, Tahoma; font-weight: bold; letter-spacing: 1px; margin: 5px 0; padding: 0 }

.rss-items    { list-style-type: none; list-style-image: url("http://142.27.144.70/gerry/pointer.jpg") }

.rss-item { color: black; font-size: 75%; font-family: Tahoma; font-weight: bold; margin: 8px 0 }

.rss-item a:link, .rss-item a:visited { color: maroon; font-size: 120%; text-decoration: none }

.rss-item a:hover { color: gray; text-decoration: underline }

.rss-date { color: gray; font-size: 80%; font-weight: normal } 
/* buttons modeled from http://www.wellstyled.com/css-inline-buttons.html */

.pod-play {
   _width:12em;
   margin: 0 0.2em; padding: 0.1em 0; _padding:0;
   
   white-space:nowrap;
   text-decoration: none;
   vertical-align:middle;
   background: #fb6;
   color: black;
   }
.pod-play em {
   _width:1em; _cursor:hand;
   font-style: normal;
   margin:0; padding: 0.1em 0.5em;
   background: white;
   color: #222;
   }
.pod-play span {
   _width:1em; _cursor:hand;
   margin:0; padding: 0.1em 0.5em 0.1em 0.3em;
   }
.pod-play:hover {
   background: #666;
   color: white;
   }
.pod-play:hover em {
   background: black;
   color: white
   }


html {
    scroll-behavior: smooth;
  }
body{
    font-family: 'Roboto', sans-serif;
}
footer{
    height: 100%;
    margin-top: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    background-color: #626567;
    font-family: 'Roboto', sans-serif; 
    color: white;
    font-size: small;
}
#linkedin{
    padding-right: 5px;
}

a svg:hover{
    fill: lightgray;
}

a { 
    outline: none; 
    border: 0; 
    text-decoration: none; 
  }
  
  a svg { 
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
  }
ul.aboutUL{
    display: inline-block;
    text-align: left;
}
#portrait{
      height: 50%;
      width: 50%;
}
.about_text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 1;
    font-size: 45px;
    font-weight: 250;
}
#skills{
    background-image: url("images/skills.jpg");
    background-color: rgba(255 255 255 / 2%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 25px;
    height: 275px;
    cursor: pointer;
    outline: none;
    transition: opacity 250ms;
    opacity:0.6;
    animation-name: hoverAnim;
    animation-duration: 3s;
    animation-iteration-count: 3;
}
#skills:hover{
    opacity: 1;
}
#college{
    background-image: url("images/college.jpg");
    background-color: rgba(255 255 255 / 2%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 25px;
    height: 275px;
    cursor: pointer;
    outline: none;
    transition: opacity 250ms;
    opacity:0.6;
    animation-name: hoverAnim;
    animation-duration: 3s;
    animation-iteration-count: 3;
}
#college:hover{
    opacity: 1;
}
@keyframes hoverAnim {
    0% {opacity: 0.6; transition: opacity 250ms;}
    50% {opacity: 1; transition: opacity 250ms;}
    100% {opacity: 0.6; transition: opacity 250ms;}
}
#AOI{
    background-image: url("images/AOI.jpg");
    background-color: rgba(255 255 255 / 2%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 25px;
    height: 275px;
    cursor: pointer;
    outline: none;
    transition: opacity 250ms;
    opacity:0.6;
    animation-name: hoverAnim;
    animation-duration: 3s;
    animation-iteration-count: 3;
}
#AOI:hover{
    opacity: 1;
}

#volunteer{
    background-image: url("images/volunteer.jpg");
    background-color: rgba(255 255 255 / 2%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 25px;
    height: 275px;
    cursor: pointer;
    outline: none;
    transition: opacity 250ms;
    opacity:0.6;
    animation-name: hoverAnim;
    animation-duration: 3s;
    animation-iteration-count: 3;
}
#volunteer:hover{
    opacity: 1;
}

/* desktop */
@media only screen and (min-width: 992px) {
.navbar-toggler{
    display: none;
}
}
/* tablet */
@media only screen and (max-width: 1024px) {
	.navbar-toggler{
        display: none;
    }
    .text-decoration-none{
        display: inline-block;
    }
}
/* phone */
@media only screen and (max-width: 767px) {
    #mobileLink{
        display: none;
    }
    .navbar-toggler{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        
    }
    .mobile{
        position: sticky;
        top: 0;
        background-color: white;
    }
    #close{
        display: none;
    }
}
