/* #title{
    padding-top: 100px;
    padding-bottom: 100px;
} */
body{
    font-family: 'Roboto', sans-serif;
}
footer{
    margin-top: 80px;
    padding-top: 30px;
    padding-left: 10px;
    height: 180px;
    width: 100%;
    background-color: #626567;
    font-family: 'Roboto', sans-serif; 
    color: white;
    font-size: small;
}
#linkedin{
    padding-right: 5px;
}

a svg:hover{
    fill: lightgray;
}

a { 
    outline: none; 
    border: 0; 
    text-decoration: none; 
  }
  
  a svg { 
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
  }